/* Base Styles */
.search-bar {
  display: flex;
  width: 100%; /* Full width */
}

.search-bar-container {
  display: flex;
  align-items: center;
  background-color: #c57878;
  border: 2px solid #e5e7eb;
  border-radius: 5px; /* Softer corners */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1opx;
}

/* Input styles */
.search-bar-input {
  outline: none;
  border: none; /* Remove default border */
  padding: 10px; /* Increased padding for better UX */
  flex-grow: 1; /* Allow input to grow */
}

/* Button styles */
.search-bar-button {
  background-color: #ff385c; /* Airbnb red */
  color: white;
  font-size: 16px; /* Adjust font size */
  padding: 10px 15px; /* Increase padding */
  border-radius: 25px; /* Softer corners */
  transition: background-color 0.3s;
}

.search-bar-button:hover {
  background-color: #dc2626; /* Darker red on hover */
}

/* Label Styles */
.search-bar-label {
  font-size: 12px;
  font-weight: 700;
  color: #374151; /* Dark gray */
}
